// Fichier où mettre le style propre à chaque projet

.home-bg
  background-image: url("../images/home-bg.png")
.pic-home-01
  height: 100%
  background-size: 400px
  background-position: -0% 0%
  top: 0px
.pic-home-02
  right: 0
  left: auto

// .pic-bottom
.bg-primary-bis
  background-image: url("../images/bg-primary-bis.png")
  background-color: var(--color-secondary)
  background-blend-mode: multiply
  opacity: 0.8

.footer-bottom
  @apply bg-primary
  @apply text-gray-200
  .emphasis
    @apply text-secondary

.title-2
  @apply text-secondary
.title-2 + .text-primary
  @apply text-secondary

#query::placeholder
  color: #fff
  opacity: 1

.home-baseline
  background-color: rgba(var(--color-secondary-rgb), 0.9)

.home-cta
  @apply text-secondary

.highlighted-activity
  a
    @apply text-secondary

.block-menu
  @apply bg-secondary
  a
    @apply text-c-gray-100